Numbers: Numbers is a basically a numeric data type in python. There are mainly 2 types of numeric data type that we use often which are int and float. And there is third data type i.e., complex which we don't use often.

Strings: Strings in python are immutable means they cant be changed once created. Strings are the sequence of the characters too. E.g, 
str = Arpan
str[0] = D
This gives error as string are immutable.

Lists: Lists are ordered sequence that can hold variety of data types together. Lists are denoted by []. In lists we can use indexing and slicing. Lists can be nested.

Tuples: Tuples are mostly like lists only the key difference is that tuples are immutable means cant be changed once declared.
tuples are denoted by ().

Dictionaries: Dictionaries are unordered mapping for storing objects. It uses key-value pair concept. This key value pairing allows user to quicky grab an object that they need without the use of index. Dictionaries can not be sorted as they depend on key-value pair. 
Syntax -  {‘key1’:’value1’,’key2’:’value2’}

#### 1.Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [1]:
(33**0 / 1)*100 + 0.5 - 0.25

100.25

#### 2.What is the value of the expression 4 * (6 + 5) = 44

3.What is the value of the expression 4 * 6 + 5 = 29

4.What is the value of the expression 4 + 6 * 5 = 34

#### 5.What is the *type* of the result of the expression 3 + 1.5 + 4? = Float

In [2]:
type(3+1.5+4)

float

#### 6.What would you use to find a number’s square root, as well as its square?

In [7]:
num = 3
square = num ** 2
print(square)

9

In [8]:
num = 9
square_root = num ** 0.5
print(square_root)

3.0

In [12]:
num = 27
cube_root = num ** (1/3)
print(cube_root)

3.0

#### 7.Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
string = 'hello'
string[1]

'e'

#### 8.Reverse the string 'hello' using slicing:

In [17]:
string[::-1]

'olleh'

#### 9.Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
string[4] #method1
string[-1] #method2

'o'

#### 10.Build this list [0,0,0] two separate ways.

In [19]:
#method 1
list_1 = [0,0,0]
list_1

[0, 0, 0]

In [22]:
#method 2
list_2 = [0,0]
list_2.append(0)
list_2

[0, 0, 0]

In [23]:
#method 3
[0]*3

[0, 0, 0]

#### 11.Reassign 'hello' in this nested list to say 'goodbye' instead:
    list3 = [1,2,[3,4,'hello']]

In [24]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

#### 12.Sort the list below:
    list4 = [5,3,4,6,1]

In [28]:
#method 1
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [29]:
#method 2
sorted(list4)

[1, 3, 4, 5, 6]

#### 13.Using keys and indexing, grab the 'hello' from the following dictionaries:

In [30]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [31]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [32]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [33]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

#### 14.Can you sort a dictionary? Why or why not?

ANS: We can not sort a dictionary because it a used for mappping and it uses key-value pairs.Therefore, its not a sequence.

#### 15.What is the major difference between tuples and lists?

ANS: Tuples are immutable. And for notation of tuple we use () not [].

#### 16.How do you create a tuple?

In [34]:
tuple_1 = (1,2,3)
tuple_1

(1, 2, 3)

#### 17.What is unique about a set?

ANS: Set uses parenthesis. Objects in the set are all unique.

#### 18.Use a set to find the unique values of the list below:

In [35]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

#### 19.What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in!)

In [36]:
2 > 3 #False

False

In [37]:
3 <= 2 #False

False

In [38]:
3 == 2.0 #False

False

In [39]:
3.0 == 3 #True

True

In [40]:
4**0.5 != 2 #False 2 is square root of 4.

False

#### 20.What is the boolean output of the cell block below?

In [41]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']   # 3 >= 4 this is false.

False