### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [7]:
lesser_of_two_evens(2,4)

2

In [8]:
lesser_of_two_evens(2,5)

5

In [9]:
lesser_of_two_evens(231,67)

231

### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    word = text.split()
    if word[0][0]==word[1][0]:
        return True
    else:
        return False

In [14]:
animal_crackers('Levelheaded Llama')

True

In [15]:
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif(n1+n2==20):
        return True
    else:
        return False

In [20]:
makes_twenty(20,10)

True

In [21]:
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [31]:
def old_macdonald(name):
    if len(name)>3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        pass

old_macdonald('macdonald')

In [33]:
def old_macdonald(name):
    if len(name)>3:
        return name[0].capitalize() + name[3].capitalize()
    else:
        pass

In [34]:
old_macdonald('macdonald')

'MD'

### MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [49]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [50]:
master_yoda('I am home')

'home am I'

In [51]:
master_yoda('We are ready')

'ready are We'

### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [63]:

def almost_there(n):
    return (89<n<111 or 189<n<211)

In [64]:
almost_there(104)

True

In [65]:
almost_there(150)

False

In [66]:
almost_there(209)

True

### LEVEL 2 PROBLEMS

### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [87]:
def has_33(nums):
    for i in range (0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
           
    return False

In [88]:
has_33([1, 3, 3])

True

In [89]:
has_33([1, 3, 1, 3])

False

In [90]:
has_33([1, 1, 3, 3])

True

### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [96]:
def paper_doll(text):
    new_text = ''
    for char in text:
        new_text += char*3
    return new_text

In [97]:
paper_doll('Hello')

'HHHeeellllllooo'

In [98]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [99]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return a+b+c
    elif a==11 or b==11 or c==11:
        return (a+b+c)-10
    else:
        return 'BUST'

In [100]:
blackjack(5,6,7)

18

In [101]:
blackjack(9,9,9)

'BUST'

In [102]:
blackjack(9,9,11)

19

### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [105]:
def summer_69(arr):
    total = 0
    status = True
    for num in arr:
        while status:
            if num!=6:
                total += num
                break
            else:
                status = False
        while not status:
            if num!=9:
                break
            else:
                status = True
                break
    return total

In [106]:
summer_69([1, 3, 5])

9

In [108]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [109]:
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS

### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [8]:
def spy_game(nums):
    i = [0,0,7,'x']
    for num in nums:
        if num == i[0]:
            i.remove(num)
    return len(i) == 1

In [9]:
spy_game([1,2,4,0,0,7,5])

True

In [10]:
spy_game([1,0,2,4,0,5,7])

True

### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [25]:
def count_primes(num):
    
    ctr = 0
    
    for n in range(num):
        if n <= 1:
            continue
        for i in range(2, n):
            if (n % i) == 0:
                break
        else:
            ctr += 1

    return ctr

In [26]:
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass